body {
    margin-bottom: 3em;
}

pre:empty {
    display: none;
}

#input-organisation,
#input-user {
    display: none;
}

#select-organisation:checked~#input-organisation {
    display: inline-block;
}

#select-user:checked~#input-user {
    display: inline-block;
}

#repos {
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
    user-select: all; /* Chrome and Opera */
}
